{#
/**
 * @file
 * Theme override for areas of action block.
 */
#}
<div{{attributes.addClass('c-section__content c-section__content--areas-of-action o-col')}}>
    {{ title_prefix }}
    {% if label %}
        <h2{{title_attributes}}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
        {{ content }}
    {% endblock %}
    <script>console.log('SECTION BLOCK', {{ _context | json_encode | raw}});</script>
</div>
