{#
/**
 * @file
 * Theme override for section block.
 */
#}
{%
  set classes = [
    'c-section-head',
    block_name ? 'c-section-head--' ~ block_name|clean_class,
    content.field_media[0] ? 'c-section-head--with-media'
  ]
%}
<div{{attributes.addClass(classes)}}>
    <div class="c-section-head__row o-row">
        <div class="c-section-head__col o-col">
            {{ title_prefix }}
            {% if label %}
                <h2{{title_attributes}}>{{ label }}</h2>
            {% endif %}
            {{ title_suffix }}
            {% block content %}
                {# {{ content }} #}
                {{ content.field_name }}
                {{ content.field_title }}
                {{ content.body }}
                {{ content.field_link }}
            {% endblock %}
        </div>
        {% if content.field_media[0] %}
            <div class="c-section-head__col o-col">
                {{ content.field_media }}
            </div>
        {% endif %}
    </div>
    {# {{ dump() }} #}
</div>
