{#
/**
 * @file
 * Theme override to display a one-column layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 */
#}
{% set classes = [
    'c-section',
    'c-section--onecol',
] %}
{% set block_names = _context['block_names'] ? _context['block_names'] : [] %}
{% set content_classes = [
    'c-section__content',
] | merge(block_names | map(c => "c-section__content--#{c}")) %}
{% if content %}
    <section{{attributes.addClass(classes)}}>
        <div {{ region_attributes.content.addClass('c-section__container o-container') }}>
            <div class="c-section__row o-row">
                <div class="c-section__col o-col o-col--12">
                    <div class="{{ content_classes | join(' ') }}">
                        {{ content.content }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# <script>
        console.log( 'LAYOUT', {{ _context | json_encode | raw }} );
    </script> #}
{% endif %}
