{% extends "page.html.twig" %}

{% block content %}
    {{ page.content.messages}}
    <div class="o-region">
        <article{{attributes.addClass(['c-article','c-article--observatory'])}}>
            <div class="c-article__header">
                <div class="o-container">
                    <div class="c-article__content">
                        <h1 class="c-article__title">{{ page['#title'] }}</h1>
                        <form id="observatory-form" class="c-form c-form--observatory" method="get" action="" data-options="{{ observatory_js|json_encode|e('html_attr') }}">
                            <div class="c-form__fields c-form__fields--observatory">
                                <div class="c-form__field c-form__field--type_select c-form__field--name_view">
                                    <div class="c-form__control c-form__control--type_select">
                                        <select class="c-form__select" id="observatory-view" name="view">
                                            {% for view_id, view_config in observatory.views %}
                                                <option value="{{ view_id }}" {{ observatory_current.view == view_id ? 'selected' : '' }}>{{ view_config.label }}</option>
                                            {% endfor %}
                                        </select>
                                        <label class="c-form__label" for="observatory-view">
                                            <span>{{ 'View'|t }}</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="c-form__field c-form__field--type_select c-form__field--name_area">
                                    <div class="c-form__control c-form__control--type_select">
                                        <select class="c-form__select" id="observatory-area" name="area">
                                            {% for area in observatory_current.areas %}
                                                <option value="{{ area.id }}" {{ observatory_current.area == area.id ? 'selected' : '' }}>{{ area.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <label class="c-form__label" for="observatory-area">
                                            <span>{{ areas_of_action.vocabulary.label }}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="c-form__actions">
                                <button class="c-button c-button--filled" type="submit">
                                    <span class="c-button__label">
                                        {{ 'Submit'|t }}
                                    </span>
                                </button>
                            </div>
                        </form>
                        {% if observatory.areasOfActionIntro %}
                            <details class="c-details c-details--observatory-areas">
                                <summary class="c-details__summary">
                                    {{ observatory.areasOfActionIntro.summary }}
                                </summary>
                                <div class="c-details__body c-text-box">
                                    {{ observatory.areasOfActionIntro.body }}
                                </div>
                            </details>
                        {% endif %}
                        {% for view_id, view_config in observatory.views %}
                            <div class="c-article__description c-text-box" data-observatory-view="{{ view_id }}" {% if observatory_current.view != view_id %} hidden {% endif %}>
                                <h3>{{ view_config.label }}</h3>
                                {{ view_config.description }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="c-article__body">
                <div class="o-container">
                    <div class="c-article__content">
                        {% if observatory_current.iframe.src %}
                            <iframe id="observatory-iframe" width="100%" frameborder="0" style="aspect-ratio: {{ observatory_current.iframe.aspectRatio }}" src="{{ observatory_current.iframe.src }}"></iframe>
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock %}
