{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
<div{{attributes.addClass('c-page-footer__bottom')}}>
    <div class="o-container c-page-footer__container">
        {% if content %}
            {{ content }}
        {% else %}
            <p class="c-page-footer__copyright">&copy; {{ "now"|date("Y") }} {{ elements['#site_name'] }}</p>
            <img class="c-page-footer__logo" src="/{{ base_path ~ directory }}/images/oer-icons.svg" alt="{{ 'OER logo'|t }}" />
        {% endif %}
    </div>
</div>
