{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% set system_routes = {
    'system.403': 'Access Denied',
    'system.404': 'Page Not Found',
    'system.500': 'Server Error',
} %}

{% if content %}
    <div{{ attributes.addClass('o-flex--stretch-height') }}>
        {% if route in system_routes|keys %}
            {{ elements.messages }}
            <article class="c-article c-article--without-image">
                <div class="c-article__header">
                    <div class="o-container">
                        <div class="c-article__content">
                            <h1 class="c-article__title">
                                {{ system_routes[route]|t }}
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="c-article__body">
                    <div class="o-container">
                        <div class="c-article__content">
                            <div class="c-article__main">
                                <div class="c-article__description c-text-box">
                                    <p>{{ elements.system_main }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        {% else %}
            {{ content }}
        {% endif %}
    </div>
    {# {{ dump() }} #}
{% endif %}
