{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}
{% set item = items|first %}
{% set end_date_time = item.content['#markup'] %}
{% set end_date = end_date_time|split('T')[0] %}
{% set start_date_time = element['#object'].field_start_date.value %}
{% set start_date = start_date_time|split('T')[0] %}
{% set view_mode = element['#view_mode'] %}
{% if not (end_date_time == start_date_time or (view_mode == 'teaser' and end_date == start_date))  %}
    <div data-separator="&ndash;">
        <dt><span>{{ label }}</span></dt>
        <dd>
            {% if view_mode == 'teaser' %}
                <time datetime="{{ end_date_time }}">{{ end_date_time|date('j M Y') }}</time>
            {% else %}
                <time datetime="{{ end_date_time }}">
                    {% if (end_date == start_date) %}
                        {{ end_date_time|date("H:i") }}
                    {% elseif (end_date_time ends with '00:00:00') %}
                        {{ end_date_time|date("l, j F Y") }}
                    {% else %}
                        {{ end_date_time|date("l, j F Y H:i") }}
                    {% endif %}
                </time>
            {% endif %}
        </dd>
    </div>
{% endif %}
