{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
<article{{attributes.addClass([
    'c-content-item',
    'c-content-item--row-card',
    'c-content-item--user'
])}}>
    {# <div class="c-content-item__head">
        {% if elements.user_picture %}
            <div class="c-avatar">
                {{ elements.user_picture }}
            </div>
        {% endif %}
    </div> #}
    <div class="c-content-item__body">
        <div class="c-avatar">
            {% if elements.user_picture %}
                <div class="c-avatar__image">
                    {{ elements.user_picture }}
                </div>
            {% endif %}
            <div class="c-avatar__details">
                <h2 class="c-avatar__name">
                    {# <a href="{{ path('entity.user.contact_form', {'user': user.id}) }}"> #}
                    <a href="{{ path('entity.user.canonical', {'user': user.id}) }}">
                        {{ user.label }}
                    </a>
                </h2>
                <dl class="c-avatar__meta">
                    {% if content.field_first_name[0] %}
                        <div class="c-avatar__meta-item">
                            <dt>
                                {{ svg_icon('id-card', 'c-avatar__meta-icon') }}
                                <span>{{ content.field_first_name['#title'] }}</span>
                            </dt>
                            <dd>
                                <span>{{ content.field_first_name[0]['#context']['value'] }}</span>
                            </dd>
                        </div>
                    {% endif %}
                    {% if content.field_last_name[0] %}
                        <div class="c-avatar__meta-item">
                            <dt>
                                {{ svg_icon('id-card', 'c-avatar__meta-icon') }}
                                <span>{{ content.field_last_name['#title'] }}</span>
                            </dt>
                            <dd>
                                <span>{{ content.field_last_name[0]['#context']['value'] }}</span>
                            </dd>
                        </div>
                    {% endif %}
                    {% if content.field_institution[0] %}
                        <div class="c-avatar__meta-item">
                            <dt>
                                {{ svg_icon('account-balance', 'c-avatar__meta-icon') }}
                                <span>{{ content.field_institution['#title'] }}</span>
                            </dt>
                            <dd>
                                <span>{{ content.field_institution[0]['#context']['value'] }}</span>
                            </dd>
                        </div>
                    {% endif %}
                    {% if content.field_country[0] %}
                        <div class="c-avatar__meta-item">
                            <dt>
                                {{ svg_icon('globe', 'c-avatar__meta-icon') }}
                                <span>{{ content.field_country['#title'] }}</span>
                            </dt>
                            <dd>
                                <span>{{ content.field_country[0]['#title'] }}</span>
                            </dd>
                        </div>
                    {% endif %}

                    {# <div class="c-avatar__meta-item">
                        <dt title="{{ 'Role'|t }}">
                            {{ svg_icon('group', 'c-avatar__meta-icon') }}
                            <span>{{ 'Role'|t }}</span>
                        </dt>
                        <dd>
                            {% for role in user.roles %}
                                <span>{{ role.target_id }}</span>
                                <span>{{ role.label }}</span>
                            {% endfor %}
                        </dd>
                    </div> #}
                    {# <div class="c-avatar__meta-item">
                        <dt title="{{ 'Last login'|t }}">
                            {{ svg_icon('update', 'c-avatar__meta-icon') }}
                            <span>{{ 'Last login'|t }}</span>
                        </dt>
                        <dd>
                            <span>{{ user.login.value|date('j F Y, H:i') }}</span>
                        </dd>
                    </div> #}
                    {# <div class="c-avatar__meta-item">
                        <dt title="{{ 'Last login'|t }}">
                            {{ svg_icon('verified-user', 'c-avatar__meta-icon') }}
                            <span>{{ 'Member for'|t }}</span>
                        </dt>
                        <dd>
                            <span>{{ elements.member_for['#markup']|striptags }}</span>
                        </dd>
                    </div> #}
                </dl>
                <div class="c-avatar__actions">
                    {# <a href="{{ path('entity.user.canonical', {'user': user.id}) }}" class="c-button c-button--outlined">
                        {{ 'View profile'|t }}
                    </a> #}
                    <a href="{{ path('entity.user.contact_form', {'user': user.id}) }}" class="c-button c-button--outlined">
                        {{ svg_icon('mail', 'c-button__leading-icon') }}
                        <span class="c-button__label">{{ 'Contact'|t }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</article>
{# {{ dump() }} #}
