{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
<article{{attributes.addClass([
    'c-content-item',
    'c-content-item--row-card',
    'c-content-item--user'
])}}>
    {# <div class="c-content-item__head">
        {% if elements.user_picture %}
            <div class="c-avatar">
                {{ elements.user_picture }}
            </div>
        {% endif %}
    </div> #}
    <div class="c-content-item__body">
        <div class="c-avatar c-avatar--card">
            {% if elements.user_picture %}
                <div class="c-avatar__image">
                    {{ elements.user_picture }}
                </div>
            {% endif %}
            <div class="c-avatar__details">
                <h2 class="c-avatar__name">
                    <a class="c-avatar__link" href="{{ path('entity.user.canonical', {'user': user.id}) }}">
                        {{ display_name }}
                    </a>
                </h2>
                {% if content.field_institution[0] or content.field_country[0] %}
                    <dl class="c-avatar__meta c-data-list">
                        {% if content.field_institution[0] %}
                            <div class="c-data-list__item">
                                <dt class="c-data-list__label">
                                    <span>{{ svg_icon('account-balance', 'c-data-list__icon') }}</span>
                                    <span>{{ content.field_institution['#title'] }}</span>
                                </dt>
                                <dd class="c-data-list__value">
                                    <span>{{ content.field_institution[0]['#context']['value'] }}</span>
                                </dd>
                            </div>
                        {% endif %}
                        {% if content.field_country[0] %}
                            <div class="c-data-list__item">
                                <dt class="c-data-list__label">
                                    <span>{{ svg_icon('globe', 'c-data-list__icon') }}</span>
                                    <span>{{ content.field_country['#title'] }}</span>
                                </dt>
                                <dd class="c-data-list__value">
                                    <span>{{ content.field_country[0]['#title'] }}</span>
                                </dd>
                            </div>
                        {% endif %}
                    </dl>
                {% endif %}
                <div class="c-avatar__actions">
                    <a href="{{ path('entity.user.canonical', {'user': user.id}) }}" class="c-button c-button--filled">
                        {{ svg_icon('account-circle', 'c-button__leading-icon') }}
                        <span class="c-button__label">{{ 'View profile'|t }}</span>
                    </a>
                    {% if contact_enabled and not is_current_user %}
                        <a href="{{ path('entity.user.contact_form', {'user': user.id}) }}" class="c-button c-button--outlined">
                            {{ svg_icon('mail', 'c-button__leading-icon') }}
                            <span class="c-button__label">{{ 'Contact'|t }}</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {# {{ dump() }} #}
</article>
