{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{# {% if title %}
	<h3>{{ title }}</h3>
{% endif %} #}
{% for year, rows in groups %}
	<li class="c-content-listing__item c-content-listing__item--row c-content-listing__item--update">
		<div class="c-content-item c-content-item--update c-content-item--row-card">
			<h2 class="c-content-item__title">{{ year }}</h2>
			<ul>
				{% for row in rows %}
					<li>
						<a class="c-button c-button--outlined" href="{{ row.url }}" target="_blank">
							<span class="c-button__label">
								{{ row.created|date('F') }}
							</span>
							{{ svg_icon('open-in-new', 'c-button__trailing-icon') }}
						</a>
					</li>
				{% endfor %}
			</ul>
			{# {{ dump(rows) }} #}
		</div>
	</li>
{% endfor %}
{# {{ dump() }} #}
