{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{# {% if title %}
    <h3>{{ title }}</h3>
{% endif %} #}
{% for year, updates in groups %}
    <li class="c-content-listing__item c-content-listing__item--row c-content-listing__item--update">
        <div class="c-content-item c-content-item--update c-content-item--row-card">
            <div class="c-content-item__body">
                <h2 class="c-content-item__title">{{ year }}</h2>
                <ul>
                    {% for update in updates %}
                        <li>
                            {% set url = update.row.content['#node'].field_url.uri %}
                            {% set created = update.row.content['#node'].created.value %}
                            <a class="c-button c-button--outlined" href="{{ url }}" target="_blank">
                                <span class="c-button__label">
                                    {{ created|date('F') }}
                                </span>
                                {{ svg_icon('open-in-new', 'c-button__trailing-icon') }}
                            </a>
                            {# {{ dump(update) }} #}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </li>
{% endfor %}
{# {{ dump() }} #}
