{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<form{{attributes.addClass('c-form--'~attributes.id|clean_class)}}>
	<div class="c-form__header">
		<div class="c-form__icon">
			{{ svg_icon('key') }}
		</div>
		<h1 class="c-form__title">{{ 'Password Reset'|t }}</h1>
        <div class="c-form__description">
		    <p>{{ element.mail['#children'] }}</p>
        </div>
	</div>
	<div class="c-form__body">
		{{ element.name }}
		{{ element.form_build_id }}
		{{ element.form_id }}
		{{ element.actions }}
	</div>
    {# {{ dump() }} #}
</form>
