{#
/**
 * @file
 * Theme override for media library exposed filter forms (grid and table).
 */
#}
{% set classes = [
    'c-form',
    'c-form--views-exposed-form',
    'c-form--' ~ attributes.id|clean_class,
] %}
<form{{ attributes.addClass(classes) }}>
    {{ element.form_id }}
    {{ element.form_build_id }}
    {{ element.form_token }}

    <div class="c-form__group">
        {{ element['name'] }}
        {{ element['sort_by'] }}
    </div>

    <div class="c-form__actions">
        {{ element.actions }}
        <button class="c-button c-button--text" type="reset" name="op">
            {{ svg_icon('delete', 'c-button__leading-icon') }}
            <span class="c-button__label">{{ 'Clear'|t }}</span>
        </button>
    </div>
</form>
