{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{% set classes = [
    'c-form--standalone',
    'c-form--sm',
    'c-form--'~attributes.id|clean_class
] %}
<form{{attributes.addClass(classes)}}>
    <div class="c-form__header">
        <div class="c-form__icon">
            {{ svg_icon('lock-open') }}
        </div>
        <h1 class="c-form__title">{{ 'Login'|t }}</h1>
    </div>
    <div class="c-form__body">
        {{ element.form_build_id }}
        {{ element.form_id }}
        {{ element.name }}
        {{ element.pass }}
        {# <div class="c-form__field c-form__field--link">
            <a href="/user/password">
                {{ 'Reset your password'|t }}
            </a>
        </div> #}
        {{ element.actions }}
    </div>
    <div class="c-form__footer">
		<a href="/user/password">
			{{ 'Reset your password'|t }}
		</a>
	</div>
    {# {{ dump() }} #}
</form>
