{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{% set classes = [
    'c-form--standalone',
    'c-form--md',
    'c-form--'~attributes.id|clean_class
] %}
<form{{attributes.addClass(classes)}}>
    <div class="c-form__header">
        <div class="c-form__icon">
            {{ svg_icon('alternate-email') }}
        </div>
        <h1 class="c-form__title">{{ 'Contact'|t }}</h1>
    </div>
    <div class="c-form__body">
        {# {{ children }} #}

        {{ element.form_build_id }}
        {{ element.form_id }}
        {{ element.form_token }}

        <div class="c-form__group">
            {{ element.name }}
            {{ element.mail }}
        </div>
        {{ element.recipient }}
        {{ element.subject }}
        {{ element.message }}
        {{ element.copy }}
        {{ element.langcode }}

        {{ element.footer }}
        {# {{ element.actions }} #}
        {{ element.actions.submit }}
    </div>
    {# {{ dump() }} #}
</form>
